/* Estilos para la paginación */
.pagination {
    margin: 20px 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination.justify-content-end {
    justify-content: flex-end;
}
