<!-- Carousel -->
<div class="container text-center" id="container1">
  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#">
              <img src="assets/carousel/dormitorio.JPG" class="d-block w-100" alt="Dormitorio">
            </a>
          </div>
          <div class="carousel-item">
            <a href="#">
              <img src="assets/carousel/sillas.JPG" class="d-block w-100" alt="Sillas">
            </a>
          </div>
          <div class="carousel-item">
            <a href="#">
              <img src="assets/carousel/camas.JPG" class="d-block w-100" alt="Camas">
            </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Main Titles -->
<div class="titulo-main">
  <h5>BUSCA EXCLUSIVIDAD</h5>
  <h6>El modelo de tus sueños a precios imperdibles</h6>
</div>

<!-- Content Section 1 -->
<div class="data-content-1">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-4 col-md-8 mb-2">
        <a href="#">
          <img src="assets/contenido/camaa.JPG" class="img-fluid" alt="Cama">
        </a>
      </div>
      <div class="col-lg-4 col-md-8 mb-2">
        <a href="#">
          <img src="assets/contenido/sillones.JPG" class="img-fluid" alt="Sillones">
        </a>
      </div>
      <div class="col-lg-4 col-md-8 mb-2">
        <a href="#">
          <img src="assets/contenido/cojines.JPG" class="img-fluid" alt="Cojines">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Main Titles -->
<div class="titulo-main">
  <h5>ALGUNOS DE NUESTROS PRODUCTOS</h5>
  <h6>Explora todo lo que tenemos para ti</h6>
</div>

<!-- Content Section 2 -->
<div class="data-content-2">
  <div class="container p-4">
    <div class="row">
      <!-- Repite esta estructura para cada producto -->
      <div class="col-lg-3 col-md-8 mb-2">
        <div class="box-container">
          <a href="#">
            <div class="box-content">
              <img src="assets/productos/edredon.JPG" class="img-fluid" alt="Edredón">
              <p>Funda Plumon Polycotton</p>
              <p>Stamp Unicolor</p>
              <p class="new-price">S/ 59 - S/ 99</p>
              <p class="old-price"><s>S/ 149 - S/ 269</s></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <div class="box-container">
          <a href="#">
            <div class="box-content">
              <img src="assets/productos/cabecera.JPG" class="img-fluid" alt="Cabecera">
              <p>Cabecera Langley Tela</p>
              <p class="new-price">S/ 1,099 - S/ 2,599</p>
              <p class="old-price"><s>S/ 2,100 - S/ 2,999</s></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <div class="box-container">
          <a href="#">
            <div class="box-content">
              <img src="assets/productos/poltrona.JPG" class="img-fluid" alt="Poltrona">
              <p>Poltrona Seneca Tela</p>
              <p class="new-price">S/ 1,619</p>
              <p class="old-price"><s>S/ 2,699</s></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <div class="box-container">
          <a href="#">
            <div class="box-content">
              <img src="assets/productos/sofa.JPG" class="img-fluid" alt="Sofá">
              <p>Sofá Westwood Cuero</p>
              <p class="new-price">S/ 7,649 - S/ 9,999</p>
              <p class="old-price"><s>S/ 8,999 - S/ 9,999</s></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <div class="box-container">
          <a href="#">
            <div class="box-content">
              <img src="assets/productos/camita.JPG" class="img-fluid" alt="Cama">
              <p>Diván Cama Ergo-T New 1,5 Plazas 105 x 190 cm</p>
              <p class="new-price">S/ 1,199</p>
              <p class="old-price"><s>S/ 1,999</s></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <div class="box-container">
          <a href="#">
            <div class="box-content">
              <img src="assets/productos/reclinable.JPG" class="img-fluid" alt="Sillón Reclinable">
              <p>Sillón Reclinable Bruno Tela Manual</p>
              <p class="new-price">S/ 1,589</p>
              <p class="old-price"><s>S/ 2,899</s></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <div class="box-container">
          <a href="#">
            <div class="box-content">
              <img src="assets/productos/comedor.JPG" class="img-fluid" alt="Comedor">
              <p>Juego Comedor de Terraza Marasusa 10 Personas</p>
              <p class="new-price">S/ 18,999</p>
              <p class="old-price"><s>S/ 19,999</s></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <div class="box-container">
          <a href="#">
            <div class="box-content">
              <img src="assets/productos/sillones-terraza.JPG" class="img-fluid" alt="Sillones Terraza">
              <p>Sofá Seccional Guadalmina Tela 4 Piezas</p>
              <p class="new-price">S/ 13,599</p>
              <p class="old-price"><s>S/ 16,999</s></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Titles -->
<div class="titulo-main">
  <h5>INSPIRATE</h5>
  <h6>Te mostramos algunos ambientes de ensueño</h6>
</div>

<!-- Inspiration Section -->
<!-- Contenido de Dormitorios -->
<main class="text-center text-lg-start page-main-full-width">
  <div class="container p-4">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 mb-4">
        <h4>Dormitorios</h4>
        <p>Transpórtate al mundo de los sueños con nuestros muebles y ropa de cama. Conoce cada detalle de tus productos
          favoritos y haz de tu dormitorio tu lugar favorito.</p>
        <button class="vermas">Ver Más</button>
      </div>
      <div class="col-lg-6 col-md-12 mb-4">
        <img src="assets/contenido/dormitorio-contenido.JPG" class="img-fluid" alt="Dormitorio">
      </div>
    </div>
  </div>
</main>

<!-- Contenido de Sala de Estar -->
<main class="text-center text-lg-start page-main-full-width">
  <div class="container p-4">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 mb-4 order-lg-2">
        <h4>Sala de estar y living</h4>
        <p>Conoce en detalle nuestros productos y atrévete a explorar tu lado más creativo. Decora cada rincón de tu
          casa con tu estilo para disfrutarla al máximo.</p>
        <button class="vermas">Ver Más</button>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 order-lg-1">
        <img src="assets/contenido/salaestar.JPG" class="img-fluid" alt="Sala de Estar">
      </div>
    </div>
  </div>
</main>

<!-- Content Section 3 -->
<div class="data-content-3">
  <div class="container p-4">
    <div class="row">
      <!-- Repite esta estructura para cada sección -->
      <div class="col-lg-3 col-md-6 mb-4">
        <a href="#" class="section-link">
          <div class="section-item">
            <img src="assets/contenido/comunicacion.png" class="img-fluid" alt="Comunicación">
            <h5 class="section3-h5">Venta telefónica</h5>
            <p class="section3">Llama al (01) 202 9520.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <a href="#" class="section-link">
          <div class="section-item">
            <img src="assets/contenido/soporte.png" class="img-fluid" alt="Soporte">
            <h5 class="section3-h5">Soporte en línea</h5>
            <p class="section3">Escríbenos a contactoexample.com</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <a href="#" class="section-link">
          <div class="section-item">
            <img src="assets/contenido/entrega.png" class="img-fluid" alt="Entrega">
            <h5 class="section3-h5">Entrega rápida</h5>
            <p class="section3">Envíos a todo el país.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-8 mb-2">
        <a href="#" class="section-link">
          <div class="section-item">
            <img src="assets/contenido/garantia.svg" class="img-fluid" alt="Garantía">
            <h5 class="section3-h5">Garantía de calidad</h5>
            <p class="section3">Productos con garantía de fábrica.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>