/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1.display-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para la tabla */
.table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

.table th, .table td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.table img {
    border-radius: 5px;
}

/* Estilos para botones y enlaces */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.btn-warning:hover {
    background-color: #e0a800;
}

/* Estilos para inputs */
input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Estilos para mensajes */
.text-muted {
    color: #6c757d;
}

.text-center {
    text-align: center;
}

.mb-5 {
    margin-bottom: 3rem;
}

.float-right {
    float: right;
}
